body {
  margin: 0;
  margin-top: -1px;
  padding-top:1px;
}

.sidenav {
  padding-top: 75px;
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #151515;
  transition: 0.5s;
  overflow-x: hidden;
  z-index: 1;
}

.line {
  position: absolute;
  right: 30px;
  background-color: #aaaaaa;
  width: 40px;
  height: 5px;
  z-index: 1;
  transition: 0.3s;
}

//TODO: Сделать, чтобы крестик нажимался не только на полосках, но и вокруг

.closebtn {
  transition: 0.5s;
}

.closebtn:hover .line{
  background-color: white;
}

.closeupper {
  top: 25px;
  transform: rotate(-45deg)translate(-5px, 15px);
}

.closelower {
  top: 45px;
  transform: rotate(45deg) translate(1px, -9px);
}

.openbtn {
  position: absolute;
  top: 15px;
  width: 40px;
  height: 40px;
  left: 15px;
}
.openupper.line {
  right: auto;
  top: 10px;
}

.openlower.line {
  top: 30px;
  right: auto
}

.openbtn:hover .line{
  background-color: white;
}

.header {
  position: fixed;
  background-color: #151515;
  width: 100%;
  height: 75px;
  margin: 0;
  font-size: 0;
}

.btn {
  display: inline-block;
  width:  100px;
  height: 45px;
  margin: 0;
  margin-right: 15px;
  box-sizing: -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
  text-align: center;
  padding-top: 12px;
  text-decoration: none;
  color: #aaaaaa;
  transition: 0.3s;
  vertical-align;
}

.btn:hover {
  color: white;
}

.sidenav .btn {
  margin: 20px;
  margin-left: 45px;
}

.name-box {
  text-align: center;
  margin-top: 15px;
  color: white;
  font-size: 40px;
}

.logo-box {
  vertical-align: middle;
  margin: 7.5px;
  display: inline-block;
  width: 60px;
  height: 60px;
}

.logo-circle {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.mainblock {
  background-color: #373737;
  width: 80%;
  height: 1200px;
  margin: auto;
  overflow: auto;
  margin-top: 75px;
}

.block1 {
  width: 700px;
  padding: 15px;
  display: inline-block;
  margin: 15px;
  border: 3px solid white;
}

.big-logo {
  vertical-align: top;
  margin-right: 15px;
  display: inline-block;
  background-color: white;
  width: 200px;
  height: 300px;
}

.text-block {
  font-family: sans-serif;
  font-size: 19px;
  vertical-align: top;
  width: 470px;
  display: inline-block;
  color: white;
  box-sizing: border-box;
}

@media only screen
  and (min-width: 375px)
  and (max-width: 1000px) {

  .mainblock {
    width: 100%;
  }

  .block1 {
    width: calc(100% - 66px);
    text-align: center;
  }

  .name-box {
    font-size: 30px;
  }

  //TODO: Добавить разный (адекватный) размер для альбомной и книжной ориентации

  .big-logo {
    width: 346px;
    height: 519px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .text-block {
    width: 100%;
  }

  .but-box {
    display: none;
  }
}
